#delete-project-button{
    background-color: #92ddea;
}

#delete-project-button:hover{
    background-color: #7eb8da;
}

#color-white{
    color:white;
   background-color: white;
}
#table-head{
    height:50px; 
}

#table-cell{
    font-weight: 600;
    color: #7eb8da;
}

#form-control{
    min-width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.table-container{
    width: 90%;
}
#search-bar:focus-within{
    border-color: #7eb8da;
}